<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arm.aalarm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alarm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alarm"
        android:supportsRtl="true"
        android:theme="@style/Theme.AAlarm">
        <activity android:name=".DestinationActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>